.contact{

   
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
 
}
.contact-item{
align-items: center;
justify-content: center;
/* min-width: 400px; */
min-height: 40vh;
background-color: #44bd32;
border-radius: 1.5rem;
}
.contact-item li a {
font-size: 50px;
}
.contact-item li {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    
}
ul li:hover{
    text-decoration: none;
    outline: none;
}

.h3{
    background-color: rgb(220, 245, 231);
    margin: 0;
}